[submodule "Ada-RTE-Platform"]
	path = Ada-RTE-Platform
	url = https://github.com/BottCode/Ada-RTE-supporting-semi-partitioned-model.git
[submodule "schedulability-analysis_tasksets-generation"]
	path = schedulability-analysis_tasksets-generation
	url = https://github.com/BottCode/synthetic-Ada-tasksets-generation-for-a-MCS-semi-partitioned-model-or-RTEMS-on-XtratuM.git
